/* reset */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* 여백 초기화 */
body,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
textarea,
p,
select,
button {
  margin: 0;
  padding: 0;
}

/* font 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: 'NanumSquare', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

/* font-style 초기화 */
em,
address {
  font-style: normal;
}

/* list-style 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* h1~6 tag 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}

/* a link 초기화 */
a {
  color: #333;
  text-decoration: none;
}

/* ir 효과 */
.ir {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
