/* layout */
#wrap {
}
#header {
  height: 89px;
  border-bottom: 1px solid #efefef;
}
#banner {
  height: 550px;
  background: url(../img/banner-bg3.jpg) no-repeat center top;
}
#sbanner {
  height: 228px;
  background-color: #e57373;
}
#select {
  height: 498px;
  background-color: #ef5350;
}
#info {
  height: 515px;
  background-color: #f44336;
}
#ad {
  height: 451px;
  background-color: #e53935;
}
#blog {
  height: 1000px;
  background-color: #d32f2f;
}
#site {
  height: 500px;
  background-color: #c62828;
}
#footer {
  height: 300px;
  background-color: #b71c1c;
}

/* container */
.container {
  margin: 0 auto;
  width: 1180px;
  height: inherit;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

/* header */
.header {
  overflow: hidden;
}
.header a:hover {
  color: #1d7abd;
}
.header h1 {
  float: left;
  padding-top: 24px;
  padding-right: 30px;
}
.header .gnb {
  float: left;
}
.header .gnb li {
  display: inline;
}

.header .gnb li a {
  display: inline-block;
  font-size: 18px;
  padding: 32px 12px;
}
.header .quick {
  float: right;
}
.header .quick li {
  display: inline;
  position: relative;
}
.header .quick li::before {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 1px;
}
.header .quick li:last-child::before {
  width: 0;
  height: 0;
}
.header .quick li a {
  display: inline-block;
  font-size: 14px;
  padding: 34px 11px 34px 8px;
  color: #676767;
}
