/* layout */
#wrap {
}
#header {
  height: 89px;
  border-bottom: 1px solid #efefef;
}
#banner {
}
#sbanner {
  border-top: 1px solid #efefef;
}
#select {
  background-color: #1d7abd;
}
#info {
}
#ad {
  background: url(../img/banner-bg1.jpg) no-repeat center top;
  position: relative;
  z-index: 1;
  background-size: cover;
}
#ad::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
#blog {
}
#site {
  background-color: #f8f9fa;
}
#footer {
}

/* sub page */
#sub-banner {
  background: url(../img/server-bg1.png) repeat-x center top;
}
#sub-banner.mail-bg {
  background: url(../img/mail-bg1.png) repeat-x center top;
}
#sub-banner.service-bg {
  background: url(../img/service-bg1.png) repeat-x center top;
}
#sub-banner.hosting-bg {
  background: url(../img/hosting-bg1.png) repeat-x center top;
}
#product-table {
}
#select2 {
  background-color: #1d7abd;
}
#select5 {
  background-color: #1d7abd;
}
#info2 {
}

/* container */
.container {
  margin: 0 auto;
  width: 1180px;
  height: inherit;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

/* skip */
.skip {
  position: relative;
}
.skip a {
  position: absolute;
  top: -50px;
  left: 0;
  width: 140px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.skip a:focus,
.skip a:active {
  top: 0;
}

/* header */
.header {
  overflow: hidden;
}
.header a:hover {
  color: #1d7abd;
}
.header h1 {
  float: left;
  padding-top: 24px;
  padding-right: 30px;
}
.header .gnb {
  float: left;
}
.header .gnb li {
  display: inline;
}

.header .gnb li a {
  display: inline-block;
  font-size: 18px;
  padding: 32px 12px;
}
.header .quick {
  float: right;
}
.header .quick li {
  display: inline;
  position: relative;
}
.header .quick li::before {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 1px;
}
.header .quick li:last-child::before {
  width: 0;
  height: 0;
}
.header .quick li a {
  display: inline-block;
  font-size: 14px;
  padding: 34px 11px 34px 8px;
  color: #676767;
}

/* banner */
.banner {
  padding: 115px 50px;
}
.banner h2 {
  font-size: 46px;
  line-height: 55px;
}
.banner p {
  padding: 20px 0;
  font-size: 18px;
  color: #666;
  font-weight: 300;
}
.banner em {
  display: block;
  font-size: 18px;
  color: #f66b05;
}
.banner .view {
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  border: 1px solid #333;
  background-color: #fff;
  padding: 12px 42px;
  transition: all 0.3s ease;
}
.banner .view:hover {
  background-color: #000;
  color: #fff;
}
.banner-img1 {
  background: url(../img/banner-bg1.jpg) no-repeat center top;
}
.banner-img2 {
  background: url(../img/banner-bg3.jpg) no-repeat center top;
}
.banner-img3 {
  background: url(../img/banner-bg3.jpg) no-repeat center top;
}

/* sbanner */
.sbanner {
  overflow: hidden;
  padding: 70px 0;
}
.sbanner > div {
  float: left;
  width: 25%;
}
.sbanner > div h4 {
  font-size: 24px;
  padding-bottom: 4px;
}
.sbanner > div h4 i {
  padding-left: 8px;
}
.sbanner > div h4:hover {
  text-decoration: underline;
}
.sbanner > div p {
  font-size: 16px;
  color: #676767;
  padding-right: 80px;
}

/* select */
.select {
  overflow: hidden;
  padding: 70px 0;
}
.select h3 {
  float: left;
  width: 25%;
  font-size: 40px;
  color: #fff;
}
.select > div {
  float: left;
  width: 17.5%;
  background-color: #2886ca;
  margin-left: 1.5%;
  padding: 3%;
  height: 300px;
}
.select > div.simg1 {
  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 220px;
  background-size: 80px;
}
.select > div.simg2 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 220px;
  background-size: 80px;
}
.select > div.simg3 {
  background: #2886ca url(../img/select-bg3.png) no-repeat 30px 220px;
  background-size: 80px;
}
.select > div h4 {
  padding-bottom: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.select > div p {
  font-size: 15px;
  color: #d2f0ff;
}

/* select2 */
.select2 {
  overflow: hidden;
  padding: 70px 0;
}
.select2 h3 {
  float: left;
  width: 32.3333%;
  font-size: 40px;
  margin-right: 1.5%;
  color: #fff;
}
.select2 > div {
  float: left;
  width: 26.3333%;
  background-color: #2886ca;
  margin-right: 1.5%;
  padding: 3%;
  height: 300px;
}
.select2 > div.simg1 {
  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 20px;
  background-size: 80px;
}
.select2 > div.simg2 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 20px;
  background-size: 80px;
  margin-right: 0;
}
.select2 > div h4 {
  padding-bottom: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-top: 150px;
}
.select2 > div p {
  font-size: 15px;
  color: #d2f0ff;
}

/* select2 */
.select5 {
  overflow: hidden;
  padding: 70px 0;
}
.select5 h3 {
  float: left;
  width: 32.3333%;
  font-size: 40px;
  margin-right: 1.5%;
  color: #fff;
}
.select5 > div {
  float: left;
  width: 26.3333%;
  background-color: #2886ca;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  padding: 3%;
  height: 300px;
}
.select5 > div.simg1 {
  background: #2886ca url(../img/select-bg1.png) no-repeat 30px 30px;
  background-size: 80px;
}
.select5 > div.simg2 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px;
  background-size: 90px;
  margin-right: 0;
}
.select5 > div.simg3 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px;
  background-size: 90px;
}
.select5 > div.simg4 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px;
  background-size: 90px;
}
.select5 > div.simg5 {
  background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px;
  background-size: 90px;
  margin-right: 0;
}
.select5 > div h4 {
  padding-bottom: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-top: 150px;
}
.select5 > div p {
  font-size: 15px;
  color: #d2f0ff;
}

/* info */
.info {
  padding: 70px 0;
  text-align: center;
}
.info h3 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
.info p {
  font-size: 18px;
  color: #666;
  padding-bottom: 50px;
}
.info .info-box {
  overflow: hidden;
  text-align: left;
  padding: 0 210px;
}
.info .info-box h4 {
  font-size: 16px;
  color: #333;
  padding: 5px;
}
.info .info-box h4 i {
  color: #0081c8;
}
.info .info-box .in-left {
  width: 50%;
  float: left;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.info .info-box .in-left em {
  font-size: 24px;
  display: inline-block;
  color: #333;
  width: 170px;
}
.info .info-box .in-left strong {
  font-size: 30px;
  color: #0081c8;
}
.info .info-box .in-right {
  width: 50%;
  float: left;
  padding-left: 50px;
  box-sizing: border-box;
}
.info .info-box .in-right li {
  font-size: 16px;
  color: #333;
}

/* info2 */
.info2 {
  padding: 70px 0;
  text-align: center;
}
.info2 h3 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
.info2 .info-btn {
  display: inline-block;
  font-size: 16px;
  border: 1px solid #333;
  background-color: #fff;
  padding: 12px 42px;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-bottom: 50px;
}
.info2 .info-btn:hover {
  background-color: #000;
  color: #fff;
}
.info2 .info-box {
  overflow: hidden;
  text-align: left;
  padding: 0 150px;
}
.info2 .info-box .in-left {
  width: 50%;
  float: left;
  overflow: hidden;
}
.info2 .info-box .in-left h4 {
  float: left;
  width: 110px;
  height: 110px;
  background-color: #1d7abd;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 110px;
}
.info2 .info-box .in-left ul {
  float: left;
  padding: 30px 0 0 30px;
}
.info2 .info-box .in-left li {
  font-size: 16px;
  padding-bottom: 10px;
}
.info2 .info-box .in-left em {
  display: inline-block;
  color: #333;
  width: 160px;
}
.info2 .info-box .in-left strong {
  color: #0081c8;
}
.info2 .info-box .in-right {
  width: 50%;
  float: left;
  overflow: hidden;
}
.info2 .info-box .in-right h4 {
  float: left;
  width: 110px;
  height: 110px;
  background-color: #1d7abd;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 110px;
}
.info2 .info-box .in-right ul {
  float: left;
  padding: 30px 0 0 30px;
}
.info2 .info-box .in-right li {
  font-size: 16px;
  padding-bottom: 10px;
}
.info2 .info-box .in-right em {
  display: inline-block;
  color: #333;
  width: 160px;
}
.info2 .info-box .in-right strong {
  color: #0081c8;
}

/* ad */
.ad {
  padding: 70px;
  text-align: center;
  z-index: 10;
  position: relative;
}
.ad h3 {
  font-size: 40px;
  padding-bottom: 20px;
  color: #fff;
}
.ad p {
  font-size: 16px;
  color: #fff;
}
.ad .view {
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  border: 1px solid #fff;

  padding: 12px 42px;
  transition: all 0.3s ease;
  color: #fff;
}
.ad .view:hover {
  background-color: #fff;
  color: #000;
}

/* blog */
.blog {
  padding: 70px 0;
}
.blog h3 {
  font-size: 34px;
  margin-bottom: 50px;
}
.blog .blog-wrap {
  height: 440px;
  margin-bottom: 80px;
  overflow: hidden;
}
.blog .blog-wrap > div {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  border-top: 2px solid #6f6f6f;
}
.blog .blog-wrap > div:last-child {
  margin-right: 0;
}
.blog .blog-wrap > div h4 {
  font-size: 22px;
  padding: 25px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog .blog-wrap > div p {
  font-size: 16px;
  color: #7e7e7e;
  margin-bottom: 40px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.blog .blog-wrap > div figure img {
  width: 100%;
}
.blog .notice-wrap {
  overflow: hidden;
}
.blog .notice-wrap .nw-left {
  float: left;
  width: 780px;
}
.blog .notice-wrap .nw-left h3 {
  font-size: 34px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}
.blog .notice-wrap .nw-left .total {
  font-size: 14px;
  color: #666;
}
.blog .notice-wrap .nw-left ul {
  border-top: 2px solid #6f6f6f;
}
.blog .notice-wrap .nw-left li {
  padding: 20px 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.blog .notice-wrap .nw-left li a {
  width: 80%;
  float: left;
  font-size: 16px;
  color: #676767;
}
.blog .notice-wrap .nw-left li span {
  width: 20%;
  float: right;
  font-size: 14px;
  text-align: right;
  color: #676767;
}
.blog .notice-wrap .nw-right {
  float: right;
  width: 375px;
}
.blog .notice-wrap .nw-right h3 {
  font-size: 34px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}
.blog .notice-wrap .nw-right ul {
  border-top: 2px solid #6f6f6f;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  height: 154px;
}
.blog .notice-wrap .nw-right ul li {
  padding: 12px 0;
  font-size: 16px;
  color: #666;
}
.blog .notice-wrap .nw-right ul li span {
  background-color: #666;
  color: #fff;
  margin-right: 20px;
  padding: 5px 10px;
}

/* site */
.site {
  overflow: hidden;
  padding: 70px 0;
}
.site > div {
  width: 16.6666%;
  float: left;
}
.site > div h4 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.site > div li {
  padding-bottom: 5px;
}
.site > div li a {
  font-size: 15px;
  color: #666;
}
.site > div.two {
  width: 33.2222%;
}
.site > div.two ul {
  overflow: hidden;
}
.site > div.two li {
  float: left;
  width: 50%;
}

/* footer */
.footer {
  padding: 50px 0;
  position: relative;
}
.footer .policy {
  padding-bottom: 30px;
}
.footer .policy li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}
.footer .policy li::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #ccc;
  position: absolute;
  left: -10px;
  top: 6px;
}
.footer .policy li:first-child::after {
  width: 0;
  height: 0;
}
.footer .policy li a {
  font-size: 16px;
}
.footer .policy li:last-child a {
  color: #1d7abd;
}
.footer .address {
  color: #666;
  font-size: 14px;
}
.footer .address li {
  padding-bottom: 5px;
}
.footer .address span {
  padding-right: 20px;
}
.footer .address p {
  padding-top: 20px;
}
.footer .icon {
  overflow: hidden;
  padding: 30px 0 0 0;
}
.footer .icon li {
  float: left;
  padding-right: 20px;
}
.footer .icon li:last-child {
  padding-top: 10px;
}
.footer .family {
  position: absolute;
  right: 0;
  top: 50px;
}
.footer .family #family-site {
  background-color: #fff;
  width: 145px;
  height: 44px;
  padding-left: 5px;
  margin-right: 5px;
}
.footer .family .family-btns {
  background-color: #fff;
  padding: 11px 15px 11px;
  border: 1px solid #cfd5da;
  font-size: 14px;
  color: #707070;
}

/* sub */
.sub-banner {
  overflow: hidden;
  padding: 80px 0;
}
.sub-banner .sb-left {
  float: left;
  width: 760px;
}
.sub-banner .sb-left h2 {
  font-size: 40px;
  color: #fff;
}
.sub-banner .sb-left p {
  font-size: 16px;
  color: #fff;
}
.sub-banner .sb-right {
  float: right;
  width: 410px;
  padding-top: 20px;
}
.sub-banner .sb-right li {
  display: inline;
  margin-left: 10px;
}
.sub-banner .sb-right li a {
  color: #b2ddf9;
  font-size: 18px;
  border: 2px solid #b2ddf9;
  border-radius: 50px;
  display: inline-block;
  width: 65px;
  height: 50px;
  padding-left: 55px;
  line-height: 50px;
}
.sub-banner .sb-right li.ic1 a {
  background: url(../img/server-icon1.png) no-repeat 18px 12px;
}
.sub-banner .sb-right li.ic2 a {
  background: url(../img/server-icon2.png) no-repeat 18px 12px;
}
.sub-banner .sb-right li.ic3 a {
  background: url(../img/server-icon3.png) no-repeat 18px 12px;
}
.sub-banner .sb-right li a:hover {
  color: #fff;
  border-color: #fff;
}

/* product-table */
.product-table {
  padding: 80px 0;
}
.product-table .more {
  text-align: center;
  padding: 20px 0 40px;
  font-size: 14px;
}
.product-table .list li {
  font-size: 14px;
  line-height: 28px;
  padding-left: 10px;
  position: relative;
}
.product-table .list li::before {
  content: '';
  left: 0;
  top: 11px;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #333;
}
.product-table .list li .help {
  padding-left: 5px;
  color: #1d7abd;
  font-size: 18px;
}

/* table-title1 */
.table-title1 {
  position: relative;
  padding-bottom: 20px;
}
.table-title1 li {
  display: inline-block;
}
.table-title1 li a {
  font-size: 18px;
  color: #999;
  padding: 0 10px;
}
.table-title1 li.active a {
  color: #333;
}
.table-title1 .detail {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #1d7abd;
}

/* table-style1 */
.table-style1 table {
  border-top: 2px solid #6f6f6f;
  border-bottom: 1px solid #9a9a9a;
  font-size: 16px;
  text-align: center;
  color: #666;
}
.table-style1 table thead th {
  background-color: #f9fafc;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #e4e4e4;
}
.table-style1 table thead th:last-child {
  border-right: 0;
}
.table-style1 table tbody td {
  padding: 20px 30px;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
.table-style1 table tbody td:last-child {
  border-right: 0;
}
.table-style1 .left {
  text-align: left;
}
.table-style1 .center {
  text-align: center;
}
.table-style1 .black {
  color: #000;
}
.table-style1 .hot {
  display: inline-block;
  background-color: #ff9900;
  color: #fff;
  font-size: 14px;
  padding: 2px 10px 0px 10px;
  vertical-align: 4px;
  line-height: 20px;
}
.table-style1 .large {
  font-size: 28px;
  line-height: 38px;
}
.table-style1 .small {
  font-size: 12px;
}
.table-style1 .view {
  display: inline-block;
  padding: 5px 45px;
  color: #fff;
  background-color: #3090d6;
  font-size: 16px;
}
